* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background-color: white;
}

body {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: rgba(0, 255, 42, 0.3);
}

main {
  padding: 20px;
}

h1 {
  font-size: 30px;
  margin: 30px auto;
  text-align: center;
}

h3 {
  font-size: 30px;
  margin: 30px auto;
  text-align: center;
}

p {
  font-size: 25px;
}

ul {
  padding-left: 30px;
  font-size: 25px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
